# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore one file
test.txt
# Ignore all file using extenstion
# (Ignore all txt file)
*.txt

# Ignore folder inside all files
dev/